<?xml version="1.0"?>
<config>
    <modules>
        <Titech_AppliedPatches>
             <version>1.5.0</version>
        </Titech_AppliedPatches>
    </modules>
    <admin>
    </admin>
    <global>
        <models>
            <appliedpatches>
                <class>Titech_AppliedPatches_Model</class>
                <resourceModel>appliedpatches_entity</resourceModel>
            </appliedpatches>
            <appliedpatches_entity>
                <class>Titech_AppliedPatches_Model_Entity</class>
                <entities>
                </entities>
            </appliedpatches_entity>
        </models>
        <blocks>
            <appliedpatches>
                <class>Titech_AppliedPatches_Block</class>
            </appliedpatches>
        </blocks>
        <helpers>
            <appliedpatches>
                <class>Titech_AppliedPatches_Helper</class>
            </appliedpatches>
        </helpers>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <appliedpatches>
                    <file>titech/appliedpatches.xml</file>
                </appliedpatches>
            </updates>
        </layout>
    </adminhtml>
</config>
